_minc99
_minc
yacc
_qbe

yacc.dSYM/
_minc.dSYM/
_minc99.dSYM/
test_arena.dSYM/
binary_play.dSYM/
.idea/
.DS_Store

y.*
*.o
*.p
*.s

queen2
prime
knight

test_arena

play/handcrafted
play/libcrlf.a
play/qbe/queen
play/qbe/queen.q
play/tmp
play/tmp.q
binary_play
