_minc99
_minc
yacc
_qbe

yacc.dSYM/
_minc.dSYM/
_minc99.dSYM/

y.*
*.o
*.p
*.s

.DS_Store

queen2
prime
knight

.idea/

test_arena

play/handcrafted

play/libcrlf.a

play/qbe/queen

play/qbe/queen.q

play/tmp

play/tmp.q

test_arena.dSYM/Contents/Info.plist
