_minc99
_minc
yacc
_qbe

yacc.dSYM/
*.dSYM/
_minc99.dSYM/
test_arena.dSYM/
binary_play.dSYM/
.idea/
.DS_Store

y.*
*.a
*.o
*.p
*.s


#binaries
a.out
queen
queen2
queen3
queen4
prime
knight
hello

test_arena

play/handcrafted
play/libcrlf.a
play/tmp
play/tmp.q
binary_play

play/hello_pcc
play/hello_pcc.*
play/qbe/queen5
play/qbe/mandel
play/qbe/knight_cc
play/qbe/knight_O1
play/qbe/knight_O2
play/qbe/knight_O3
play/play
knight2

test_rst
